venv/
/home/os/PycharmProjects/project/intelligent-observability-platform/aiops-engine/github_oauth
__pycache__/
*.pyc
~/PycharmProjects/project/intelligent-observability-platform/aiops-engine/data_points.json
/home/os/PycharmProjects/project/intelligent-observability-platform/k8s-manifests/tls.crt
/home/os/PycharmProjects/project/intelligent-observability-platform/k8s-manifests/tls.key